table {
    font-family: arial, sans-serif;
    font-size: 16px;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  /* tr td:first-child{
    width:1%;
    white-space:nowrap;
} */

#search-text{
  text-align: center;
}