{% extends "appbuilder/general/model/add.html" %}

    
    {% block content %}
    
    {{ lib.panel_begin(title) }}
    
    {% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='js/operatorZone.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
    <script>
        setTimeout(function() {$('#rework').val(urlId);}, 10); 
    </script>
    {% endblock %}

    {% block add_form %}
        {{ super() }}
    {% endblock %}
    
    {{ lib.panel_end() }}
    
    {% endblock %}