{% extends "appbuilder/general/model/add.html" %}

    
    {% block content %}
    {{ lib.panel_begin(title) }}
    
    {% block add_form %}
        {{ super() }}
    {% endblock %}

    
    {% block related_views %}
        {% if related_views is defined %}
            {% for view in related_views %}
                {% call lib.accordion_tag(view.__class__.__name__,view.title, False) %}
                    {{ widgets.get('related_views')[loop.index - 1](pk = pk)|safe }}
                {% endcall %} 
            {% endfor %}
        {% endif %}
    {% endblock related_views %}
    
    
    {{ lib.panel_end() }}
    
    {% endblock %}