{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}

{% block content %}

{% block head_css %}
    {{ super() }}
    <link href="{{url_for('static',filename='css/landing-page.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='css/print.min.css')}}" rel="stylesheet">
{% endblock %}

<!-- {% block head_js %}
    {{ super() }}
    <script src="{{url_for('static',filename='js/print.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/barcode.js')}}"></script>
    <script src="{{url_for('static',filename='js/JsBarcode.all.min.js')}}"></script>
    <script>

    </script>
    {% endblock %} -->
{{ lib.panel_begin(title) }}

    {% block list_search scoped %}
        {% call lib.accordion_tag("accordion1",_("Search"), False) %}
            {{ widgets.get('search')()|safe }}
        {% endcall %}
    {% endblock %}

    {% block form_form scoped %}
        <div>
        {{ widgets.get('form_inline') }}
        </div>
    {% endblock %}

    {% block list_list scoped %}
        <div>
        {{ widgets.get('list')()|safe }}
        </div>
    {% endblock %}
{{ lib.panel_end() }}

{% endblock %}